/* 
* Although flakier, tt's significantly easier to style 
* the paper using the existing Arxiv CSS classes rather than
* trying to override them with custom classes or inline tailwind styles.
*/
/* General styles */
.ltx_para,
.ltx_p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.ltx_flex_figure {
  display: flex;
  align-items: center;
}

.ltx_align_center {
  justify-content: center;
}

/* Headings */
.ltx_subsection {
  font-size: 1.2rem;
}

.ltx_title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.ltx_section {
  font-size: 2rem;
  margin-top: 3rem;
}

/* Lists */
.ltx_itemize {
  padding-left: 1rem;
  margin-bottom: 1.2rem;
}

.ltx_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.ltx_tag.ltx_tag_item {
  font-size: 2rem;
  margin-right: 1rem;
}

.ltx_item .ltx_p,
.ltx_item .ltx_para {
  margin-bottom: 0;
}

/* Heading */
#target-section {
  display: flex;
  color: lightgray;
}

#watermark-tr {
  margin-left: 1rem;
}

/* Authors Section */
.ltx_personname {
  font-weight: 600;
}

.ltx_creator.ltx_role_author {
  margin-bottom: 0.4rem;
}

.ltx_authors {
  display: flex;
  flex-direction: column;
}

.ltx_author_before {
  display: none;
}

.ltx_dates {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0.5;
}

.ltx_dates::before {
  content: "Published: ";
}

/* Abstract */
.ltx_note,
.ltx_keywords {
  font-size: 0.8rem;
  opacity: 0.5;
}

.ltx_keywords {
  margin-bottom: 0.4rem;
}

.ltx_keywords::before {
  content: "Keywords: ";
  font-weight: bold;
}

.ltx_note {
  margin-right: 0.5rem;
}

/* Images */
.ltx_caption {
  font-size: 0.8rem;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ltx_figure {
  margin-bottom: 1.2rem;
}

/* Citations */
.ltx_citation_text {
  position: relative;
  border-bottom: 1px dotted black;
}

.ltx_tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  display: block;
  text-align: left;
  font-style: normal;
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  z-index: 999;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ltx_citation_text:hover .ltx_tooltip {
  visibility: visible;
}

/* Biblio */
.ltx_bibitem {
  margin-bottom: 1.2rem;
}
